<div  class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert active-class="in alert" class="fade" duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
    <div ng-if="(user.roles | contains:'ROLE_TAXONOMY_EDIT') == false && (preferences.taxonomyEditAccess == 'selfAuthorization' || preferences.taxonomyEditAccess == 'controlledAuthorization')" ng-include="'App/Taxonomy/tpl/ask-edit-access.html'"></div>
</div>

<main class="container" role="main">
    <div class="row">
        <div class="col-sm-8">
            <nav>
                <div class="float-right mt-3" ng-if="((user.roles | contains:'ROLE_TAXONOMY_EDIT') && (preferences.taxonomyEditAccess == 'selfAuthorization' || preferences.taxonomyEditAccess == 'controlledAuthorization')) || preferences.taxonomyEditAccess == 'free'">
                    <a class="btn btn-light" ui-sref="transcript.app.taxonomy.edit({type: entity.dataType, id: entity.id})"><i class="fa fa-edit"></i> Modifier</a>
                </div>
                <h1 class="page-heading"><span ng-if="entity.dataType != 'places'">{{ entity.name }}</span><span ng-if="entity.dataType == 'places'">{{ entity | taxonomyEntityNameConstruct:'places' }}</span></h1>
            </nav>

            <div ng-if="entity.dataType == 'places' && entity.geographicalCoordinates != null">
                <leaflet markers="markers" tiles="tiles" lf-center="center" height="250px" width="100%"></leaflet>
                <br />
            </div>
            <div>
                <div ng-if="entity.dataType == 'testators'" ng-include="'App/Taxonomy/View/tpl/testator-metadata.html'"></div>
                <div ng-if="entity.dataType == 'places'" ng-include="'App/Taxonomy/View/tpl/place-metadata.html'"></div>
                <div ng-if="entity.dataType == 'military-units'" ng-include="'App/Taxonomy/View/tpl/military-unit-metadata.html'"></div>
            </div>
            <div class="mt-4 mb-4 ml-2" ng-if="entity.description != '' && entity.description != null">
                <h4 ng-if="entity.dataType == 'testators'" class="mb-1"><strong>Biographie</strong></h4>
                {{ entity.description }}
            </div>
            <div class="mt-4 mb-4 ml-2" ng-if="bibliography.length > 0">
                <h4 class="mb-1"><strong>Bibliographie</strong></h4>
                <div class="list-group" ng-repeat="item in bibliography">
                    <div class="list-group-item">
                        <div ng-if="item.manuscriptReference != null" ng-include="'App/Taxonomy/tpl/list-bibliography-manuscriptElement.html'" class="card mb-0 bg-body"></div>
                        <div ng-if="item.printedReference != null" ng-include="'App/Taxonomy/tpl/list-bibliography-printedElement.html'" class="card mb-0 bg-body"></div>
                    </div>
                </div>
            </div>

            <hr />
            <div ui-view="comment"></div>
        </div>
        <div class="col-sm-4 pl-0 pr-0 pb-2 bg-white" ng-include="'App/Taxonomy/tpl/entities.html'"></div>
    </div>
</main>
