<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>

<main class="container" role="main">
    <div class="row">
        <div class="col-sm-8" ng-if="logContainer != null">
            <h1 class="page-heading">Log #{{ logContainer.log.id }}</h1>

            <dl class="row pr-3 ml-1">
                <dt class="col-sm-4">Type</dt>
                <dd class="col-sm-8">{{ logContainer.log.objectClass | taxonomyName | ucFirstStrict }}</dd>

                <dt class="col-sm-4">Publication le</dt>
                <dd class="col-sm-8">{{ logContainer.log.loggedAt|date:'dd-MM-yyyy à HH:mm:ss' }}</dd>
            </dl>

            <h2>Modification</h2>
            <div class="row">
                <div class="col-md-6" ng-if="logContainer.log.objectClass === 'AppBundle\\Entity\\Place'" ng-include="'Admin/Taxonomy/Logs/tpl/place-metadata.html'"></div>
                <div class="col-md-6" ng-if="logContainer.log.objectClass === 'AppBundle\\Entity\\Testator'" ng-include="'Admin/Taxonomy/Logs/tpl/testator-metadata.html'"></div>
                <div class="col-md-6" ng-if="logContainer.log.objectClass === 'AppBundle\\Entity\\MilitaryUnit'" ng-include="'Admin/Taxonomy/Logs/tpl/military-unit-metadata.html'"></div>
                <div class="col-md-6" ng-if="logContainer.log.version > 1 && logContainer.log.objectClass === 'AppBundle\\Entity\\Place'" ng-include="'Admin/Taxonomy/Logs/tpl/place-previous-metadata.html'"></div>
                <div class="col-md-6" ng-if="logContainer.log.version > 1 && logContainer.log.objectClass === 'AppBundle\\Entity\\Testator'" ng-include="'Admin/Taxonomy/Logs/tpl/testator-previous-metadata.html'"></div>
                <div class="col-md-6" ng-if="logContainer.log.version > 1 && logContainer.log.objectClass === 'AppBundle\\Entity\\MilitaryUnit'" ng-include="'Admin/Taxonomy/Logs/tpl/military-unit-previous-metadata.html'"></div>
                <div class="col-md-6" ng-if="logContainer.log.version === 1" ng-include="'Admin/Taxonomy/Logs/tpl/no-previous.html'"></div>
            </div>
        </div>
        <div class="col-sm-8" ng-if="log == null">
            <div class="jumbotron text-center">
                <h2>Sélectionnez votre entrée dans la liste</h2>
            </div>
        </div>
        <div class="col-sm-4 pl-0 pr-0 bg-white" data-ng-include="'Admin/Taxonomy/Logs/tpl/list.html'"></div>
    </div>
</main>