<div class="row">
    <div class="col-12">
        <h1 class="page-heading mb-0"><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{ trainingContent.title }}</h1>
    </div>
</div>
<div class="row my-3 justify-content-end">
	<div class="col-md-6 offset-md-6">
		<ul class="nav nav-pills float-right">
			<li class="nav-item" ng-if="user.roles | contains:'ROLE_ADMIN'">
				 <a class="btn btn-light" ui-sref="transcript.admin.training.edit({id: trainingContent.id})"><i class="fa fa-edit fa-lg"></i> Modifier</a>
			</li>
		</ul>
    </div>
</div>



<div class="row justify-content-end post-meta mt-2 ">
	<div class="col-md-8 offset-md-4 bg-body d-flex justify-content-start">
	    <div ng-repeat="user in trainingContent.editorialResponsibility" ng-if="trainingContent.editorialResponsibility != null">
	        <strong><a ui-sref="transcript.app.user.profile({id: user.id})">{{ user.name }}</a></strong>
	        <div ng-if="user.biography != null" ng-bind="user.biography"></div>
	    </div>
	    <div class="ml-auto">Publié le <span ng-bind="trainingContent.createDate |  date:'dd/MM/yyyy à HH:mm'"></span></span></div>
	</div>	    
</div>
