<label class="big">À propos des ressources</label>
<nav>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"><button class="nav-link" ng-click="form.addResource(entity.resources.length)">Ajouter une ressource <i class="fa fa-plus"></i></button></li>
    </ul>
</nav>

<div class="alert alert-info">L'entité compte actuellement <span class="badge badge-info">{{ entity.resources.length }}</span> ressources.</div>


<div data-ng-repeat="resource in entity.resources" ng-include="'Admin/Entity/Edit/tpl/edit-resources-resource.html'"></div>