<div class="card bg-body">
    <div data-ng-if="resource.id" class="card-body row">
        <div class="col-md-7">
            <div class="form-group row">
                <label for="admin-entity-edit-resource-type" class="col-md-4 col-form-label text-md-right">Type de ressource <span class="red-color">*</span></label>
                <div class="col-md-8">
                    <select id="admin-entity-edit-resource-type" name="admin-entity-edit-resource-type" class="custom-select" data-ng-model="resource.type" required="required">
                        <option value="" disabled>Sélectionnez ...</option>
                        <option value="page">Page</option>
                        <option value="envelop">Enveloppe</option>
                        <option value="codicil">Codicille</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="admin-entity-edit-resource-orderInWill" class="col-md-4 col-form-label text-md-right">Index de la ressource dans le testament <span class="red-color">*</span></label>
                <div class="col-sm-3">
                    <input type="number" id="admin-entity-edit-resource-orderInWill" class="form-control form-control-sm" data-ng-model="resource.orderInWill" required="required" />
                </div>
                <div class="col-sm-1">
                    <p class="form-control-static">/</p>
                </div>
                <div class="col-sm-2">
                    <p class="form-control-static">{{ entity.resources.length }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="admin-entity-edit-resource-images" class="col-md-4 col-form-label text-md-right">Identifiants des images <span class="red-color">*</span></label>
                <div class="col-md-8">
                    <input id="admin-entity-edit-resource-images" class="form-control form-control-sm" data-ng-model="resource.images" required="required" />
                    <small  class="form-text text-muted">Identifiants des images de la ressource, séparés par des virgules. Ex: 02a, 02b, 02c</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="admin-entity-edit-resource-notes" class="col-md-4 col-form-label text-md-right">Notes (de numérisation ou autre)</label>
                <div class="col-md-8">
                    <input id="admin-entity-edit-resource-notes" class="form-control form-control-sm" data-ng-model="resource.notes" />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-white bg-danger mb-3 mt-4">
                <h2 class="card-header bg-dark text-white">Zone dangereuse</h2>
                <div class="card-body">
                    <p>En cliquant ci-dessous, vous supprimerez définitivement cette ressource.</p>
                    <button mw-confirm-click="form.removeResource(resource)" class="btn btn-sm btn-primary" mw-confirm-click-message="Souhaitez-vous supprimer cette ressource ?">Supprimer la ressource <i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="thumbnail">
                <img src="{{ iiif.server  }}/testament_{{ entity.willNumber | willNumberFormat }}{{ iiif.separator }}JPEG{{ iiif.separator }}{{ resource.images[0] }}{{ iiif.extension }}.jpg/full/!150,150/0/default.jpg" class="img-150px" />
            </div>
            <dl class="row pr-3 ml-1">
                <dt class="col-sm-4">Identifiant</dt>
                <dd class="col-sm-8">{{ resource.id }}</dd>

                <dt class="col-sm-4">Création</dt>
                <dd class="col-sm-8"><span ng-if="resource.createUser != null">Par {{ resource.createUser.name }}</span> le {{ resource.createDate | date:'dd/MM/yyyy à HH:mm' }}</dd>

                <dt class="col-sm-4">Statut de transcription</dt>
                <dd class="col-sm-8">{{ resource.transcript.status | transcriptionStatusName:entity.isShown }}</dd>
            </dl>
        </div>
    </div>
</div>