<fieldset>
    <label>Présentation de l'exercice</label>
    <div ng-include="'/webapp/app/Admin/Training/Edit/tpl/edit-presentation.html'"></div>
</fieldset>
<fieldset>
    <label>Page d'exercice</label>
    <div class="form-group row">
        <label for="admin-trainingContent-edit-exercise-image" class="col-md-2 col-form-label text-md-right">Image à transcrire <span class="red-color">*</span></label>
        <div class="col-md-10">
            <input id="admin-trainingContent-edit-exercise-image" type="string" class="form-control form-control-sm" data-ng-model="trainingContent.exerciseImageToTranscribe" required="required" />
            <small class="form-text text-muted">Spécifiez le nom de l'image que vous avez déposé dans <strong>resource/iiif/data/exercise</strong> sur le serveur</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="admin-trainingContent-edit-exercise-header" class="col-md-2 col-form-label text-md-right">En-tête de l'exercice</label>
        <div class="col-md-10">
            <div id="admin-trainingContent-edit-exercise-header" ckeditor="options" data-ng-model="trainingContent.exerciseHeader"></div>
            <small class="form-text text-muted">Ce texte sera affiché au-dessus de l'interface de transcription. Vous pouvez y rappeler les consignes ou donner des éléments d'aide.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label text-md-right">Préférences de transcription</label>
        <div class="col-md-10">
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsSmartTEI" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Activer SmartTEI</span>
                </label>
            </div>
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsAttributesManagement" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Activer la gestion d'attributs</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="admin-trainingContent-edit-exercise-tagsList" class="col-md-2 col-form-label text-md-right">Balises TEI actives</label>
        <div class="col-md-10">
            <select id="admin-trainingContent-edit-exercise-tagsList" name="admin-trainingContent-edit-exercise-tagsList" data-ng-model="trainingContent.exerciseTagsList" multiple  class="form-control form-control-sm">
                <option ng-repeat="tag in config.tags" value="{{ tag.btn.id }}">&lt;{{ tag.xml.name }}&gt;</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label text-md-right">Préférences de colonne centrale</label>
        <div class="col-md-10">
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsLiveRender" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Activer le rendu en direct</span>
                </label>
            </div>
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsHelp" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Activer l'aide générale</span>
                </label>
            </div>
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsDocumentation" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Activer la documentation</span>
                </label>
            </div>
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsTaxonomy" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Activer les notices descriptives</span>
                </label>
            </div>
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsNotes" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Activer les notes</span>
                </label>
            </div>
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsVersioning" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Activer l'historique</span>
                </label>
            </div>
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    <input ng-model="trainingContent.exerciseIsComplexFields" class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Afficher l'aide à la saisie pour d'entrées complexes</span>
                </label>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <label>Correction de l'exercice</label>
    <div class="form-group row">
        <label for="admin-trainingContent-edit-exercise-correction-transcript"  class="col-md-2 col-form-label text-md-right">Transcription correcte <span class="red-color">*</span></label>
        <div class="col-md-10">
            <textarea id="admin-trainingContent-edit-exercise-correction-transcript" class="form-control form-control-sm" data-ng-model="trainingContent.exerciseCorrectionTranscript" required="required"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="admin-trainingContent-edit-exercise-correction-errorsToAvoid"  class="col-md-2 col-form-label text-md-right">Erreurs à éviter</label>
        <div class="col-md-10">
            <div id="admin-trainingContent-edit-exercise-correction-errorsToAvoid" ckeditor="options" data-ng-model="trainingContent.exerciseCorrectionErrorsToAvoid"></div>
        </div>
    </div>
</fieldset>