<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>

<main class="container" role="main">
    <h1 class="page-heading" data-ng-if="trainingContent.title != null && trainingContent.title != ''">{{ trainingContent.title }}</h1>
    <h1 class="page-heading" data-ng-if="trainingContent.title == null || trainingContent.title == ''">Nouveau contenu</h1>

    <form>
        <div class="col-xl-10 col-12">
            <fieldset>
                <div class="form-group row">
                    <label for="admin-trainingContent-edit-title" class="col-md-2 col-form-label text-md-right">Titre <span class="red-color">*</span></label>
                    <div class="col-md-10">
                        <input id="admin-trainingContent-edit-title" type="text" class="form-control" data-ng-model="trainingContent.title" required="required" />
                        <small class="form-text text-muted">Optez pour un titre clair, décrivant précisément votre contenu et comportant des mots-clés signifiant si vous publiez un article.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="admin-trainingContent-edit-internalGoal"  class="col-md-2 col-form-label text-md-right">Objectif de la page <span class="red-color">*</span></label>
                    <div class="col-md-10">
                        <div id="admin-trainingContent-edit-internalGoal" ckeditor="options" data-ng-model="trainingContent.internalGoal"></div>
                        <small class="form-text text-muted">Précisez ici l'objectif de votre page - Ce texte est à destination des autres administrateurs.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="admin-trainingContent-edit-orderInTraining" class="col-md-2 col-form-label text-md-right">Ordre d'apparition <span class="red-color">*</span></label>
                    <div class="col-md-10 row">
                        <div class="col-md-3">
                            <input id="admin-trainingContent-edit-orderInTraining" type="number" class="form-control" data-ng-model="trainingContent.orderInTraining" required="required" />
                        </div>
                        <div class="col-md-9 form-control-plaintext">
                            / <span ng-if="trainingContent.id === undefined">{{ trainingContents.length+1 }}</span><span ng-if="trainingContent.id !== undefined">{{ trainingContents.length }}</span>
                        </div>
                        <div class="col-md-12">
                            <small class="form-text text-muted">Définissez ici l'ordre d'apparition de votre page dans le module d'entrainement. Saisissez 1 pour définir la page comme page d'accueil. Laissez vide si vous souhaitez désindexer la page.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="admin-trainingContent-edit-editorialResponsibility" class="col-md-2 col-form-label text-md-right">Responsable éditorial <span class="red-color">*</span></label>
                    <div class="col-md-10">
                        <angucomplete id="admin-trainingContent-edit-editorialResponsibility"
                                      placeholder=""
                                      pause="100"
                                      selectedobject="trainingContent.editorialResponsibility"
                                      localdata="users"
                                      searchfields="name"
                                      titlefield="name"
                                      minlength="1"
                                      inputclass="form-control form-control-sm"/>
                    </div>
                    <div class="col-md-10 offset-md-2">
                        <small class="form-text text-muted">Le nom et la qualité de cette personne seront ajoutés en haut de la page d'entrainement, en tant que personne référente.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="admin-trainingContent-edit-type" class="col-md-2 col-form-label text-md-right">Type <span class="red-color">*</span></label>
                    <div class="col-md-4">
                        <select id="admin-trainingContent-edit-type" name="admin-trainingContent-edit-type" class="custom-select" data-ng-model="trainingContent.pageType" required="required">
                            <option value="" disabled>Sélectionnez ...</option>
                            <option value="presentation">Page de présentation</option>
                            <option value="exercise">Bloc d'exercice</option>
                        </select>
                    </div>
                    <label for="admin-trainingContent-edit-status" class="col-md-2 col-form-label text-md-right">Statut <span class="red-color">*</span></label>
                    <div class="col-md-4">
                        <select id="admin-trainingContent-edit-status" name="admin-trainingContent-edit-status" class="custom-select" data-ng-model="trainingContent.pageStatus" required="required">
                            <option value="" disabled>Sélectionnez ...</option>
                            <option value="draft">Brouillon</option>
                            <option value="public">Public</option>
                            <option value="notIndexed">Non indexé</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset data-ng-if="trainingContent.pageType == 'presentation'">
                <label>Page de présentation</label>
                <div ng-include="'Admin/Training/Edit/tpl/edit-presentation.html'"></div>
            </fieldset>

            <fieldset data-ng-if="trainingContent.pageType == 'exercise'" ng-include="'Admin/Training/Edit/tpl/edit-exercise.html'"></fieldset>

            <fieldset data-ng-if="trainingContent.id != null && trainingContent.id !== undefined">
                <div>
                    <label for="admin-trainingContent-edit-updateComment" class="col-md-2 col-form-label text-md-right">Qu'avez-vous modifié ?</label>
                    <div class="col-md-10">
                        <input id="admin-trainingContent-edit-updateComment" type="text" class="form-control form-control-sm" data-ng-model="trainingContent.updateComment" />
                    </div>
                </div>
            </fieldset>

            <div class="text-right">
                <button data-ng-if="submit.success == false" class="btn btn-sm btn-primary" type="button" data-ng-click="submit.action()">Soumettre <i data-ng-if="submit.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
                <button data-ng-if="submit.success == true" class="btn btn-sm btn-success" type="button" data-ng-click="submit.action()">Succès !</button>
            </div>

            <hr data-ng-if="trainingContent.id != null && trainingContent.id !== undefined" />
            <div class="card-deck mt-5" data-ng-if="trainingContent.id !== null && trainingContent.id !== undefined" >
                <div class="card text-white bg-danger mb-3 mt-4">
                    <h2 class="card-header bg-dark text-white">Zone dangereuse</h2>
                    <div class="card-body">
                        <p>En cliquant ci-dessous, vous supprimerez définitivement ce contenu.</p>
                        <button class="btn btn-sm btn-primary" type="button" data-mw-confirm-click="remove.action()" data-mw-confirm-click-message="Êtes-vous sûr de vouloir supprimer ce contenu ?">Supprimer <i data-ng-if="remove.loading == false" class="fa fa-remove"></i><i data-ng-if="remove.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</main>