<div class="alert alert-info" ng-bind="logPreviousContainer.log.data.updateComment"></div>
<dl class="row pr-3 ml-1">
    <dt class="col-sm-4">Nom complet</dt>
    <dd class="col-sm-8">{{ logPreviousContainer.log.data.name }}</dd>

    <dt class="col-sm-4">Nom de famille</dt>
    <dd class="col-sm-8">{{ logPreviousContainer.log.data.surname }}</dd>

    <dt class="col-sm-4">Prénoms</dt>
    <dd class="col-sm-8">{{ logPreviousContainer.log.data.firstnames }}</dd>

    <dt class="col-sm-4">Autres noms</dt>
    <dd class="col-sm-8">{{ logPreviousContainer.log.data.otherNames }}</dd>

    <dt class="col-sm-4">Profession</dt>
    <dd class="col-sm-8">{{ logPreviousContainer.log.data.profession }}</dd>

    <dt class="col-sm-4">Adresse</dt>
    <dd class="col-sm-8">
        <span ng-if="(!!logPreviousContainer.log.data.addressString && !!logPreviousContainer.log.data.addressCity)"><a ui-sref="transcript.app.taxonomy.view({type:'places', id: logPreviousContainer.log.data.addressCity.id})">{{ logPreviousContainer.log.data.addressString }}</a></span>
        <span ng-if="(!!logPreviousContainer.log.data.addressString) && !logPreviousContainer.log.data.addressCity">{{ logPreviousContainer.log.data.addressString }}</span>
        <span ng-if="!logPreviousContainer.log.data.addressString && (!!logPreviousContainer.log.data.addressCity)"><a ui-sref="transcript.app.taxonomy.view({type:'places', id: logPreviousContainer.log.data.addressCity.id})">{{ logPreviousContainer.log.data.addressCity | taxonomyEntityNameConstruct:'places' }}</a></span>
    </dd>

    <dt class="col-sm-4">Naissance</dt>
    <dd class="col-sm-8">
        {{ logPreviousContainer.log.data.dateOfBirthString }}
        <span ng-if="logPreviousContainer.log.data.placeOfBirthNormalized">
            <span class="text-danger">|</span>
            <a ui-sref="transcript.app.taxonomy.view({type: 'places', id: logPreviousContainer.log.data.placeOfBirthNormalized.id})">
                <span ng-if="logPreviousContainer.log.data.placeOfBirthString" ng-bind="logPreviousContainer.log.data.placeOfBirthString"></span>
                <span ng-if="logPreviousContainer.log.data.placeOfBirthNormalized" ng-bind="logPreviousContainer.log.data.placeOfBirthNormalized | taxonomyEntityNameConstruct:'places'"></span>
            </a>
        </span>
        <span ng-if="!logPreviousContainer.log.data.placeOfBirthNormalized && !!logPreviousContainer.log.data.placeOfBirthString">
            <span class="text-danger">|</span> {{ logPreviousContainer.log.data.placeOfBirthString }}
        </span>
        <span ng-if="!logPreviousContainer.log.data.placeOfBirthNormalized && !logPreviousContainer.log.data.placeOfBirthString && !logPreviousContainer.log.data.dateOfBirthString"><i>Aucune information</i></span>
    </dd>

    <dt class="col-sm-4">Décès</dt>
    <dd class="col-sm-8">
        {{ logPreviousContainer.log.data.dateOfDeathString }}
        <span ng-if="logPreviousContainer.log.data.placeOfDeathNormalized">
            <span class="text-danger">|</span>
            <a ui-sref="transcript.app.taxonomy.view({type: 'places', id: logPreviousContainer.log.data.placeOfDeathNormalized.id})">
                <span ng-if="logPreviousContainer.log.data.placeOfDeathString" ng-bind="logPreviousContainer.log.data.placeOfDeathString"></span>
                <span ng-if="logPreviousContainer.log.data.placeOfDeathNormalized" ng-bind="logPreviousContainer.log.data.placeOfDeathNormalized | taxonomyEntityNameConstruct:'places'"></span>
            </a>
        </span>
        <span ng-if="!logPreviousContainer.log.data.placeOfDeathNormalized && !!logPreviousContainer.log.data.placeOfDeathString">
            <span class="text-danger">|</span> {{ logPreviousContainer.log.data.placeOfDeathString }}
        </span>
        <span ng-if="!logPreviousContainer.log.data.placeOfDeathNormalized && !logPreviousContainer.log.data.placeOfDeathString && !logPreviousContainer.log.data.dateOfDeathString"><i>Aucune information</i></span>
    </dd>

    <dt class="col-sm-4">Mention de décès</dt>
    <dd class="col-sm-8">{{ logPreviousContainer.log.data.deathMention }}</dd>

    <dt class="col-sm-4">Incorporation</dt>
    <dd class="col-sm-8">
        {{ logPreviousContainer.log.data.rank }}
        <span class="text-danger" ng-if="logPreviousContainer.log.data.rank && (logPreviousContainer.log.data.militaryUnitString || logPreviousContainer.log.data.militaryUnitNormalized)">|</span>
        <a ng-if="logPreviousContainer.log.data.militaryUnitNormalized" ui-sref="transcript.app.taxonomy.view({type: 'military-units', id: logPreviousContainer.log.data.militaryUnit.id})">
            <span ng-if="logPreviousContainer.log.data.militaryUnitString" ng-bind="logPreviousContainer.log.data.militaryUnitString"></span>
            <span ng-if="!logPreviousContainer.log.data.militaryUnitString" ng-bind="logPreviousContainer.log.data.militaryUnitNormalized | taxonomyEntityNameConstruct:'military-units'"></span>
        </a>
        <span ng-if="logPreviousContainer.log.data.militaryUnitString && !logPreviousContainer.log.data.militaryUnitNormalized">{{logPreviousContainer.log.data.militaryUnitString}}</span>
    </dd>
</dl>