<dl class="row pr-3 ml-1">
    <dt class="col-sm-4">Pays</dt>
    <dd class="col-sm-8">{{ entity.country }}</dd>

    <dt class="col-sm-4">Corps d'armée</dt>
    <dd class="col-sm-8">{{ entity.armyCorps }}</dd>

    <dt class="col-sm-4">Numéro de régiment</dt>
    <dd class="col-sm-8">{{ entity.regimentNumber }}</dd>
</dl>

<div class="row mt-5">
    <div class="col-md-12 ml-2">
        <h4 class="mb-2"><strong>Testateurs membres de cette unité militaire</strong></h4>
        <div class="row mt-4" ng-repeat="testator in entity._embedded.testators">
            <div class="col-md-1 pr-0">
                <a ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" >
                    <img src="./web/images/default-testator.png" class="img-fluid" />
                </a>
                <div class="col-md-10">
                    <a class="nomTestataire" ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" >{{ testator.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>