<h3>Localisation <!--actuelle--></h3>
<dl class="row pr-3 ml-1">
    <dt class="col-sm-4">Localisation</dt>
    <dd class="col-sm-8">
        <span ng-if="entity.cities.length > 0" title="Ville">{{ entity | taxonomyEntityNameConstruct:'places':'cities' }}</span>
        <span ng-if="entity.frenchDepartements.length > 0" title="Département"><span ng-if="entity.cities.length > 0">, </span>{{ entity | taxonomyEntityNameConstruct:'places':'frenchDepartements' }}</span>
        <span ng-if="entity.frenchRegions.length > 0" title="Région"><span ng-if="entity.cities.length > 0 || entity.frenchDepartements.length > 0">, </span>{{ entity | taxonomyEntityNameConstruct:'places':'frenchRegions' }}</span>
        <span ng-if="entity.countries.length > 0" title="Pays"><span ng-if="entity.cities.length > 0 || entity.frenchDepartements.length > 0 || entity.frenchRegions.length > 0">, </span>{{ entity | taxonomyEntityNameConstruct:'places':'countries' }}</span>
    </dd>

    <dt class="col-sm-4">Identifiant Geonames</dt>
    <dd class="col-sm-8">
        <a ng-if="entity.geonamesId != null" href="http://sws.geonames.org/{{ entity.geonamesId }}" target="_blank">{{ entity.geonamesId }}</a>
    </dd>

    <dt class="col-sm-4">Coordonnées géographiques</dt>
    <dd class="col-sm-8">
        <a ng-if="entity.geographicalCoordinates != null" href="https://www.openstreetmap.org/#map=12/{{ entity.geographicalCoordinates.replace('+', '/') }}" target="_blank">
            {{ entity.geographicalCoordinates }}
        </a>
    </dd>
</dl>

<!--<h3>Localisations durant la Première Guerre mondiale</h3>-->

<div class="row mt-5">
    <div class="col-md-12 ml-2">
        <h3 class="mb-2"><strong>Testateurs en lien avec ce lieu</strong></h3>
        <div class="row">
            <div class="col-md-3 mt-4" ng-repeat="testatorContainer in entity._embedded.testators">
                <div class="pr-0">
                    <a ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testator.id })" >
                        <img src="/webapp/app/web/images/default-testator.png" class="img-fluid" />
                    </a>
                </div>
                <div class="">
                    <a class="nomTestataire" ui-sref="transcript.app.taxonomy.view({ type: 'testators', id: testatorContainer.testator.id })">{{ testatorContainer.testator.name }}</a>
                    <p ng-if="testatorContainer.reason === 'bornHere'">Originaire de {{ entity.name }}</p>
                    <p ng-if="testatorContainer.reason === 'diedHere'">Décédé à {{ entity.name }}</p>
                    <p ng-if="testatorContainer.reason === 'livedHere'">A vécu à {{ entity.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>