<div class="row mb-4" >
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <img class="img-fluid" src="{{ entity.picture | imageRender }}" alt="Photographie du testateur" title="Photographie du testateur" ng-if="entity.picture !== null" />
        <img class="img-fluid" src="./web/images/default-testator.png" alt="icône générique testateur" ng-if="entity.picture === null" />
    </div>
</div>
<dl class="row pr-3 ml-1">
    <dt class="col-sm-4">Nom complet</dt>
    <dd class="col-sm-8">{{ entity.name }}</dd>

    <dt class="col-sm-4">Nom de famille</dt>
    <dd class="col-sm-8">{{ entity.surname }}</dd>

    <dt class="col-sm-4">Prénoms</dt>
    <dd class="col-sm-8">{{ entity.firstnames }}</dd>

    <dt class="col-sm-4">Autres noms</dt>
    <dd class="col-sm-8">{{ entity.otherNames }}</dd>

    <dt class="col-sm-4">Profession</dt>
    <dd class="col-sm-8">{{ entity.profession }}</dd>

    <dt class="col-sm-4">Adresse</dt>
    <dd class="col-sm-8">
        <span ng-if="(!!entity.addressString && !!entity.addressCity)"><a ui-sref="transcript.app.taxonomy.view({type:'places', id: entity.addressCity.id})">{{ entity.addressString }}</a></span>
        <span ng-if="(!!entity.addressString) && !entity.addressCity">{{ entity.addressString }}</span>
        <span ng-if="!entity.addressString && (!!entity.addressCity)"><a ui-sref="transcript.app.taxonomy.view({type:'places', id: entity.addressCity.id})">{{ entity.addressCity | taxonomyEntityNameConstruct:'places' }}</a></span>
    </dd>

    <dt class="col-sm-4">Naissance</dt>
    <dd class="col-sm-8">
        {{ entity.dateOfBirthString }}
        <span ng-if="entity.placeOfBirthNormalized">
            <span class="text-danger" ng-if="entity.dateOfBirthString">|</span>
            <a ui-sref="transcript.app.taxonomy.view({type: 'places', id: entity.placeOfBirthNormalized.id})">
                <span ng-if="entity.placeOfBirthString" ng-bind="entity.placeOfBirthString"></span>
                <span ng-if="entity.placeOfBirthNormalized" ng-bind="entity.placeOfBirthNormalized | taxonomyEntityNameConstruct:'places'"></span>
            </a>
        </span>
        <span ng-if="!entity.placeOfBirthNormalized && !!entity.placeOfBirthString">
            <span class="text-danger">|</span> {{ entity.placeOfBirthString }}
        </span>
        <span ng-if="!entity.placeOfBirthNormalized && !entity.placeOfBirthString && !entity.dateOfBirthString"><i>Aucune information</i></span>
    </dd>

    <dt class="col-sm-4">Décès</dt>
    <dd class="col-sm-8">
        {{ entity.dateOfDeathString }}
        <span ng-if="entity.placeOfDeathNormalized">
            <span class="text-danger" ng-if="entity.dateOfDeathString">|</span>
            <a ui-sref="transcript.app.taxonomy.view({type: 'places', id: entity.placeOfDeathNormalized.id})">
                <span ng-if="entity.placeOfDeathString" ng-bind="entity.placeOfDeathString"></span>
                <span ng-if="entity.placeOfDeathNormalized" ng-bind="entity.placeOfDeathNormalized | taxonomyEntityNameConstruct:'places'"></span>
            </a>
        </span>
        <span ng-if="!entity.placeOfDeathNormalized && !!entity.placeOfDeathString">
            <span class="text-danger">|</span> {{ entity.placeOfDeathString }}
        </span>
        <span ng-if="!entity.placeOfDeathNormalized && !entity.placeOfDeathString && !entity.dateOfDeathString"><i>Aucune information</i></span>
    </dd>

    <dt class="col-sm-4">Mention de décès</dt>
    <dd class="col-sm-8">{{ entity.deathMention }}</dd>

    <dt class="col-sm-4">Incorporation</dt>
    <dd class="col-sm-8">
        {{ entity.rank }}
        <span class="text-danger" ng-if="entity.rank && (entity.militaryUnitString || entity.militaryUnitNormalized)">|</span>
        <a ng-if="entity.militaryUnitNormalized" ui-sref="transcript.app.taxonomy.view({type: 'military-units', id: entity.militaryUnit.id})">
            <span ng-if="entity.militaryUnitString" ng-bind="entity.militaryUnitString"></span>
            <span ng-if="!entity.militaryUnitString" ng-bind="entity.militaryUnitNormalized | taxonomyEntityNameConstruct:'military-units'"></span>
        </a>
        <span ng-if="entity.militaryUnitString && !entity.militaryUnitNormalized">{{entity.militaryUnitString}}</span>
    </dd>
</dl>

<div class="row mt-4">
    <div class="col-md-12 ml-2">
        <h4 class="mb-1"><strong>Mémoire des hommes</strong></h4>
        <div ng-repeat="memoireDesHommes in entity.memoireDesHommes"><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="{{ memoireDesHommes }}" target="_blank">Voir la fiche <span ng-if="entity.memoireDesHommes.length > 1">n°{{$index+1}}</span> sur Mémoire des hommes</a></div>
    </div>
</div>