<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
    <div class="alert alert-info">
        <p>Déposez le dossier contenant les images de votre testament <br/>(dont le nom doit correspondre au numéro de numérisation du testament) dans le dossier <strong>resource/iiif/data</strong> du serveur.</p>
    </div>
</div>

<main class="container" role="main">
    <h1 class="page-heading">Importation des Entités</h1>
    <div class="row">
        <div class="col-sm-12">
            <form class="col-12">
                <div ng-if="entity.id !== undefined" ng-include="'Admin/Entity/Edit/tpl/edit-info-will.html'" class="card bg-body"></div>
                <div ng-if="entity.id !== undefined" class="card text-white bg-danger mb-3 mt-4">
                    <h2 class="card-header bg-dark text-white">Zone dangereuse</h2>
                    <div class="card-body">
                        <p>En cliquant ci-dessous, vous supprimerez définitivement cette entité.</p>
                        <button class="btn btn-sm btn-primary" data-mw-confirm-click="remove.action()" data-mw-confirm-click-message="Êtes-vous sûr de vouloir supprimer cette entité ?">Supprimer cette entité <i ng-if="remove.loading == false" class="fa fa-remove"></i><i ng-if="remove.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
                    </div>
                </div>

                <div class="card bg-body">
                    <h2 class="big card-header bg-dark text-white">Accès utilisateurs</h2>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="custom-control custom-checkbox">
                                    <input ng-model="entity.isShown" class="custom-control-input" type="checkbox">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Décochez cette case si vous ne souhaitez pas permettre l'affichage du contenu de ce testament aux utilisateurs</span>
                                </label>
                            </div>
                            <small class="form-text text-muted">Par conséquence, le contenu de ce testament ne sera pas proposé à la transcription</small>
                        </div>
                    </div>
                </div>
                <fieldset ng-include="'/webapp/app/Admin/Entity/Edit/tpl/edit-will.html'"></fieldset>
                <fieldset ng-include="'/webapp/app/Admin/Entity/Edit/tpl/edit-resources.html'"></fieldset>
                <div class="text-right">
                    <button class="btn btn-sm" type="button"
                            ng-disabled="!(
                            !!entity.willNumber &&
                            !!entity.will.callNumber && !!entity.will.notaryNumber &&
                            !!entity.will.minuteDateString && !!entity.will.minuteDateNormalized && !!entity.will.minuteYear &&
                            !!entity.will.willWritingDateString && !!entity.will.willWritingDateNormalized && !!entity.will.willWritingYear &&
                            !!entity.will.hostingOrganization && !!entity.will.identificationUsers && !!entity.will.willType && !!entity.will.testator)"
                            ng-class="{'btn-success': submit.success == true, 'btn-primary': submit.success != true}"
                            ng-click="submit.action()">
                        <span ng-if="submit.success == false && submit.loading == false">Soumettre</span>
                        <span ng-if="submit.success == false && submit.loading == true">Enregistrement <i class="fa fa-spin fa-circle-o-notch"></i></span>
                        <span ng-if="submit.success == true">Succès !</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>

<div ng-include="'/webapp/app/App/tpl/modal-helpSource.html'"></div>