<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>

<main class="container" role="main">
    <div ng-include="'Admin/Training/View/tpl/view-header.html'"></div>

    <div class="row">
        <div class="col-xl-12 col-12">
            <div class="alert alert-info text-left" role="alert" ng-bind-html="trainingContent.internalGoal | trustAsHtml"></div>
        </div>
    </div>

    <h2>Informations</h2>
    <dl class="row pr-3 ml-1">
        <dt class="col-sm-4">Type</dt>
        <dd class="col-sm-8">{{ trainingContent.pageType | trainingTypePageName }}</dd>

        <dt class="col-sm-4">Ordre d'apparition</dt>
        <dd class="col-sm-8">
            <div ng-if="trainingContent.orderInTraining != null">
                <strong>#{{ trainingContent.orderInTraining }}</strong>
                <span ng-if="previousContent !== null || nextContent !== null"> - </span>
                <span ng-if="previousContent !== null"><a ui-sref="transcript.admin.training.view({id: previousContent.id})">Contenu précédent</a> <i class="fa fa-chevron-left"></i></span>
                <span ng-if="nextContent !== null"><i class="fa fa-chevron-right"></i> <a ui-sref="transcript.admin.training.view({id: nextContent.id})">Contenu suivant</a></span>
            </div>
        </dd>

        <dt class="col-sm-4">Statut</dt>
        <dd class="col-sm-8">{{ trainingContent.pageStatus }}</dd>

        <dt class="col-sm-4">Responsables éditoriaux</dt>
        <dd class="col-sm-8">
            <a ng-repeat="user in trainingContent.editorialResponsibility" class="btn btn-sm btn-secondary" ui-sref="transcript.app.user.profile({id: user.id})">{{ user.name }}</a>
            <span ng-if="trainingContent.editorialResponsibility == null">Aucun</span></dd>
    </dl>
    <hr />

    <div ng-if="trainingContent.pageType == 'presentation'" ng-include="'Admin/Training/View/tpl/view-presentation.html'"></div>
    <div ng-if="trainingContent.pageType == 'exercise'" ng-include="'Admin/Training/View/tpl/view-exercise.html'"></div>

    <hr />
    <h2>Fil de discussion associé</h2>
    <div ui-view="comment"></div>
</main>
