<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>

<main class="container" role="main">
    <h1 class="page-heading" data-ng-if="content.title != null && content.title != ''">{{ content.title }}</h1>
    <h1 class="page-heading" data-ng-if="content.title == null || content.title == ''">Nouveau contenu</h1>

    <form>
        <div class="col-xl-10 col-12">
            <div class="form-group row">
                <label for="admin-content-edit-title" class="col-md-2 col-form-label text-md-right">Titre <span class="red-color">*</span></label>
                <div class="col-md-10">
                    <input id="admin-content-edit-title" type="text" class="form-control" data-ng-model="content.title" required="required" />
                    <small class="form-text text-muted">Optez pour un titre clair, décrivant précisément votre contenu et comportant des mots-clés signifiant si vous publiez un article.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="admin-content-edit-tags" class="col-md-2 col-form-label text-md-right">Tags</label>
                <div class="col-md-10">
                    <input id="admin-content-edit-tags" type="text" class="form-control form-control-sm" data-ng-model="content.tags" />
                    <small class="form-text text-muted">Séparez vos tags par une virgule</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="admin-content-edit-type" class="col-md-2 col-form-label text-md-right">Type <span class="red-color">*</span></label>
                <div class="col-md-5">
                    <select id="admin-content-edit-type" name="admin-content-edit-type" class="custom-select" data-ng-model="content.type" required="required">
                        <option value="" disabled>Sélectionnez ...</option>
                        <option value="blogContent">Article de blog</option>
                        <option value="helpContent">Page d'aide</option>
                        <option value="staticContent">Page statique</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <div class="checkbox" data-ng-if="content.type == 'staticContent'">
                        <label class="custom-control custom-checkbox">
                            <input ng-model="content.onHomepage" class="custom-control-input" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Publié en page d'accueil</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="admin-content-edit-status" class="col-md-2 col-form-label text-md-right">Statut <span class="red-color">*</span></label>
                <div class="col-md-5">
                    <select id="admin-content-edit-status" name="admin-content-edit-status" class="custom-select" data-ng-model="content.status" required="required">
                        <option value="" disabled>Sélectionnez ...</option>
                        <option value="draft">Brouillon</option>
                        <option value="public">Public</option>
                        <option value="private">Privé</option>
                        <option value="notIndexed">Non indexé</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <div class="checkbox">
                        <label class="custom-control custom-checkbox">
                            <input ng-model="content.enableComments" class="custom-control-input" type="checkbox" checked="checked">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Activer les commentaires</span>
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="admin-content-edit-image" class="col-md-2 col-form-label text-md-right">Image d'illustration</label>
                <div class="col-md-5">
                    <input id="admin-content-edit-image" class="form-control form-control-sm" data-ng-model="content.illustration" />
                    <small class="form-text text-muted">Spécifiez l'URL de votre image ou uploadez une image ci-contre</small>
                    <div ng-if="content.illustration != null"><img src="{{ content.illustration | imageRender }}" class="img-150px" alt="Prévisualisation de votre image" title="Prévisualisation de votre image" /></div>
                </div>
                <div class="col-md-5">
                    <input id="app-user-edit-picture" type="file" ngf-select ng-model="media.form.illustration" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                    <i ng-show="myForm.file.$error.required">*required</i><br>
                    <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                    <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" />
                    <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                    <button data-ng-if="media.submit.success == false && media.submit.loading == false" class="btn btn-sm btn-primary" type="button" data-ng-click="media.submit.action()">Soumettre</button>
                    <button data-ng-if="media.submit.success == false && media.submit.loading == true" class="btn btn-sm btn-primary" type="button">Enregistrement <i class="fa fa-spin fa-circle-o-notch"></i></button>
                    <button data-ng-if="media.submit.success == true" class="btn btn-sm btn-success" type="button">Succès !</button>
                </div>
            </div>
            <hr />
            <div class="card text-white bg-info mb-3 mt-4" ng-if="content.type == 'helpContent'">
                <h2 class="card-header bg-dark text-white">Information</h2>
                <div class="card-body">
                    <h3>Insérer un lien interne à la documentation</h3>
                    <p>Pour insérer un lien menant à un autre article de la documentation, insérez un lien tel que pour accéder à une page web normale et modifier</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="admin-content-edit-abstract"  class="col-md-2 col-form-label text-md-right">Résumé <span class="red-color">*</span></label>
                <div class="col-md-10">
                    <div id="admin-content-edit-abstract" ckeditor="options" data-ng-model="content.abstract"></div>
                    <small class="form-text text-muted">Ce texte apparaitra sur la page d'accueil et la page du blog. Merci de ne pas dépasser les 500 caractères.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="admin-content-edit-content"  class="col-md-2 col-form-label text-md-right">Contenu <span class="red-color">*</span></label>
                <div class="col-md-10">
                    <div id="admin-content-edit-content" ckeditor="options" data-ng-model="content.content"></div>
                </div>
            </div>

            <div class="text-right mt-2" data-ng-if="content.id == null">
                <button class="btn btn-sm" type="button"
                        ng-disabled="!(!!content.title && !!content.content && !!content.abstract && !!content.status && !!content.type)"
                        ng-class="{'btn-success': submit.success == true, 'btn-primary': submit.success != true}"
                        ng-click="submit.action()">
                    <span ng-if="submit.success == false && submit.loading == false">Soumettre</span>
                    <span ng-if="submit.success == false && submit.loading == true">Enregistrement <i class="fa fa-spin fa-circle-o-notch"></i></span>
                    <span ng-if="submit.success == true">Succès !</span>
                </button>
            </div>
            <div class="card text-white bg-light mb-3 mt-4" data-ng-if="content.id != null">
                <div class="card-body">
                    <div class="form-row bg-default">
                        <div class="form-group col-md-10 align-self-end">
                            <label for="admin-content-edit-updateComment" class="form-control-label">Commentaire d'édition <span class="red-color">*</span></label>
                            <textarea id="admin-content-edit-updateComment" class="form-control form-control-sm" data-ng-model="content.updateComment" placeholder="Merci de décrire votre modification avant de la soumettre" required="required"></textarea>
                        </div>
                        <div class="text-right col-md-2 align-self-end">
                            <button class="btn btn-sm" type="button"
                                    ng-disabled="!(!!content.title && !!content.content && !!content.abstract && !!content.status && !!content.type && !!content.updateComment)"
                                    ng-class="{'btn-success': submit.success == true, 'btn-primary': submit.success != true}"
                                    ng-click="submit.action()">
                                <span ng-if="submit.success == false && submit.loading == false">Soumettre</span>
                                <span ng-if="submit.success == false && submit.loading == true">Enregistrement <i class="fa fa-spin fa-circle-o-notch"></i></span>
                                <span ng-if="submit.success == true">Succès !</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <hr data-ng-if="content.id != null" />
            <div class="card-deck mt-5" data-ng-if="content.id !== null" >
                <div class="card text-white bg-info mb-3 mt-4">
                    <h2 class="card-header bg-dark text-white">Informations</h2>
                    <div class="card-body">
                        <h3>Contenu en ligne</h3>
                        <a class="btn btn-sm btn-secondary" ui-sref="transcript.app.content({id: content.id})">Voir</a>
                    </div>
                </div>
                <div class="card text-white bg-danger mb-3 mt-4">
                    <h2 class="card-header bg-dark text-white">Zone dangereuse</h2>
                    <div class="card-body">
                        <p>En cliquant ci-dessous, vous supprimerez définitivement ce contenu.</p>
                        <button class="btn btn-sm btn-primary" type="button" data-mw-confirm-click="remove.action()" data-mw-confirm-click-message="Êtes-vous sûr de vouloir supprimer ce contenu ?">Supprimer <i data-ng-if="remove.loading == false" class="fa fa-remove"></i><i data-ng-if="remove.loading == true" class="fa fa-spin fa-circle-o-notch"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</main>