<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="in alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" data-ng-bind-html="flash.message"></span>
    </div>
</div>
<main class="container content pb-3" role="container">
    <h2 class="card-header bg-dark">{{ content.type | contentTypeName}}</h2>
    <nav data-ng-if="user.roles | contains:'ROLE_ADMIN'">
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item"><a class="nav-link"  ui-sref="transcript.admin.content.edit({id: content.id})"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Modifier cette page</a></li>
        </ul>
    </nav>
    <div class="row mt-4">
        <div class="col-md-8 order-md-2">
            <h1 class="mb-3">{{ content.title }}</h1>
            <div class="row bg-body post-meta">
                <div class="col-auto mr-auto"><strong><a ui-sref="transcript.app.user.profile({id: content.userName.id})">{{ content.createUser.name }}</a></strong></div>
                <div class="col-auto">Publié le <span data-ng-bind="content.createDate |  date:'dd/MM/yyyy à HH:mm'"></span></span></div>
            </div>
            <div class="text-justify mt-2 pr-md-3" data-ng-bind-html="content.content"></div>
            <div data-ng-if="content.type == 'blogContent'" ui-view="comment"></div>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="{{ content.illustration | imageRender }}" class="img-fluid" alt="Illustration de {{ content.title }}" title="{{ content.title }}" ng-if="content.illustration != '' && content.illustration != null" />
            <div class="card">
                <ul class="list-group list-group-flush mb-5 mt-5">
                    <li class="list-group-item" data-ng-repeat="iContent in contents" ng-class="{'list-group-item active': content.id === iContent.id}"> <!--ajouter la classe active pour l'article sur lequel on est : class="list-group-item active"-->
                        <a ui-sref="transcript.app.content({ id: iContent.id })" ng-if="content.id !== iContent.id">{{ iContent.title }}</a>
                        <span ng-if="content.id === iContent.id">{{ iContent.title }}</span>
                    </li>
                </ul>
            </div>
            <div class="card bg-body tags mt-5" data-ng-if="content.tags.length > 0">
                <div class="card-body">
                    <ul>
                        <li data-ng-repeat="tag in content.tags">{{ tag }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>