<div class="card text-center bg-white"  ng-if="user._embedded.accesses.taxonomyRequest == null">
    <div class="card-header bg-secondary">Partagez vos connaissances sur la Première Guerre mondiale</div>
    <div class="card-body">
        <div class="card-text">
            <div ng-bind-html="preferences.taxonomyAccessProposal | trustAsHtml"></div>
            <div><a ui-sref="transcript.app.taxonomy.ask">Cliquez sur ce lien pour faire une demande d'accès</a></div>
        </div>
    </div>
</div>
<div class="alert alert-info" ng-if="user._embedded.accesses.taxonomyRequest != null">
    <p>Votre demande d'accès à la contribution aux notices descriptives est en cours de validation.</p>
</div>
