<nav class="nav nav-pills nav-fill" id="Tab">
    <a role="presentation" class="nav-item nav-link" ui-sref="transcript.app.taxonomy.list({type: 'testators'})" ng-class="{active: entity.dataType == 'testators'}">Les hommes</a>
    <a role="presentation" class="nav-item nav-link" ui-sref="transcript.app.taxonomy.list({type: 'places'})" ng-class="{active: entity.dataType == 'places'}">Les lieux</a>
    <a role="presentation" class="nav-item nav-link" ui-sref="transcript.app.taxonomy.list({type: 'military-units'})" ng-class="{active: entity.dataType == 'military-units'}">Les unités militaires</a>
</nav>

<div class="alert alert-warning" ng-if="entities.length == 0">
    <p><i class="fa fa-warning"></i> Cette liste de notices descriptives ne compte aucune entrée pour le moment.</p>
</div>

<div class="m-4" ng-if="user.roles | contains:'ROLE_TAXONOMY_EDIT'">
    <div class="text-right"><a class="btn btn-light" ui-sref="transcript.app.taxonomy.create({type: entity.dataType})" title="Ajouter une notice"><i class="fa fa-plus"></i> Ajouter une notice</a></div>
</div>

<div class="tab-content">
    <ul ng-if="results.length > 0">
        <li ng-repeat="iEntity in results|limitTo:itemsPerPage:(currentPage*itemsPerPage-itemsPerPage)">
            <a ng-if="iEntity.id != entity.id" ui-sref="transcript.app.taxonomy.view({type: entity.dataType, id: iEntity.id})" class="ng-binding ng-scope">
                <span ng-if="entity.dataType == 'testators' || entity.dataType == 'places'">{{ iEntity | taxonomyEntityNameConstruct:entity.dataType:'index' }}</span>
                <span ng-if="entity.dataType == 'military-units'">{{ iEntity | taxonomyEntityNameConstruct:entity.dataType }}</span>
                <span ng-if="entity.dataType == 'places' && (iEntity.frenchDepartements.length > 0 || iEntity.frenchRegions.length > 0 || iEntity.countries.length > 0)">
                    (
                        <span ng-if="iEntity.frenchDepartements.length > 0">{{ iEntity | taxonomyEntityNameConstruct:'places':'frenchDepartements' }}</span>
                        <span ng-if="iEntity.frenchRegions.length > 0"><span ng-if="iEntity.frenchDepartements.length > 0">, </span>{{ iEntity | taxonomyEntityNameConstruct:'places':'frenchRegions' }}</span>
                        <span ng-if="iEntity.countries.length > 0"><span ng-if="iEntity.frenchDepartements.length > 0 || iEntity.frenchRegions.length > 0">, </span>{{ iEntity | taxonomyEntityNameConstruct:'places':'countries' }}</span>
                    )
                </span>
            </a>
            <span ng-if="iEntity.id == entity.id">
                <span ng-if="entity.dataType == 'testators' || entity.dataType == 'places'">{{ iEntity | taxonomyEntityNameConstruct:entity.dataType:'index' }}</span>
                <span ng-if="entity.dataType == 'military-units'">{{ iEntity | taxonomyEntityNameConstruct:entity.dataType }}</span>
                <span ng-if="entity.dataType == 'places' && (iEntity.frenchDepartements.length > 0 || iEntity.frenchRegions.length > 0 || iEntity.countries.length > 0)">
                    (
                        <span ng-if="iEntity.frenchDepartements.length > 0">{{ iEntity | taxonomyEntityNameConstruct:'places':'frenchDepartements' }}</span>
                        <span ng-if="iEntity.frenchRegions.length > 0"><span ng-if="iEntity.frenchDepartements.length > 0">, </span>{{ iEntity | taxonomyEntityNameConstruct:'places':'frenchRegions' }}</span>
                        <span ng-if="iEntity.countries.length > 0"><span ng-if="iEntity.frenchDepartements.length > 0 || entity.frenchRegions.length > 0">, </span>{{ iEntity | taxonomyEntityNameConstruct:'places':'countries' }}</span>
                    )
                </span>
            </span>
        </li>
    </ul>
    <p class="alert alert-warning" ng-if="results.length === 0">Aucun résultat ne correspond à votre recherche.</p>
    <ul uib-pagination items-per-page="itemsPerPage" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>
