<fieldset>
    <label class="big">À propos du nom du testateur</label>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-name" class="form-control-label">Nom complet <span class="red-color">*</span></label>
            <input id="app-entity-edit-name" class="form-control form-control-sm" ng-model="entity.name" required="required" />
        </div>

        <div class="form-group col-md-6">
            <label for="app-entity-edit-indexName" class="form-control-label">Nom à indexer <span class="red-color">*</span></label>
            <input id="app-entity-edit-indexName" class="form-control form-control-sm" ng-model="entity.indexName" required="required" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-surname" class="form-control-label">Nom de famille <span class="red-color">*</span></label>
            <input id="app-entity-edit-surname" class="form-control form-control-sm" ng-model="entity.surname" required="required" />
            <small class="form-text text-muted">Tel qu'écrit sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>

        <div class="form-group col-md-6">
            <label for="app-entity-edit-firstnames" class="form-control-label">Prénoms <span class="red-color">*</span></label>
            <input id="app-entity-edit-firstnames" class="form-control form-control-sm" ng-model="entity.firstnames" placeholder="Séparés par des espaces" required="required" />
            <small class="form-text text-muted">Tel qu'écrit sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-otherNames" class="form-control-label">Autres noms</label>
            <input id="app-entity-edit-otherNames" class="form-control form-control-sm" ng-model="entity.otherNames" />
            <small class="form-text text-muted">Tel qu'écrit sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>

        <div class="form-group col-md-6">
            <label for="app-entity-edit-profession" class="form-control-label">Profession</label>
            <input id="app-entity-edit-profession" class="form-control form-control-sm" ng-model="entity.profession" />
            <small class="form-text text-muted">Tel qu'écrit sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>
    </div>
</fieldset>

<fieldset>
    <label class="big">À propos de l'adresse du testateur</label>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-address-number" class="form-control-label">Numéro</label>
            <input id="app-entity-edit-address-number" class="form-control form-control-sm" ng-model="entity.addressNumber" />
        </div>

        <div class="form-group col-md-6">
            <label for="app-entity-edit-address-street" class="form-control-label">Rue</label>
            <input id="app-entity-edit-address-street" class="form-control form-control-sm" ng-model="entity.addressStreet" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-address-district" class="form-control-label">Quartier</label>
            <input id="app-entity-edit-address-district" class="form-control form-control-sm" ng-model="entity.addressDistrict" />
        </div>

        <div class="form-group col-md-6">
            <label for="app-entity-edit-address-city" class="form-control-label">Commune</label>
            <select class="custom-select col-md-6" id="app-entity-edit-address-city" data-ng-model="entity.addressCity" name="app-entity-edit-address-city" data-ng-options="place.id as place.name for place in places"></select>
            <small class="form-text text-muted"><a ui-sref="transcript.app.taxonomy.create({type: 'places'})" target="_blank">Ajouter une commune</a> - <a ng-click="reload.action('places')">Recharger la liste <i class="fa fa-spin fa-circle-o-notch" ng-if="reload.places === true"></i></a></small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="app-entity-edit-address-string" class="form-control-label">Adresse complète</label>
            <input id="app-entity-edit-address-string" class="form-control form-control-sm" ng-model="entity.addressString" />
            <small class="form-text text-muted">Tel qu'écrit sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>
    </div>
</fieldset>

<fieldset>
    <label class="big">À propos de la naissance du testateur</label>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-dateOfBirthString" class="form-control-label">Date de naissance</label>
            <input id="app-entity-edit-dateOfBirthString" class="form-control form-control-sm" ng-model="entity.dateOfBirthString" />
            <small class="form-text text-muted">Telle qu'écrite sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>
        <div class="form-group col-md-6">
            <label for="app-entity-edit-yearOfBirth" class="form-control-label">Année de naissance</label>
            <input id="app-entity-edit-yearOfBirth" class="form-control form-control-sm" ng-model="entity.yearOfBirth" />
            <small class="form-text text-muted">Année de début s'il s'agit d'un interval de date</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-dateOfBirthNormalized" class="form-control-label">Date normalisée</label>
            <input id="app-entity-edit-dateOfBirthNormalized" class="form-control form-control-sm" data-ng-model="entity.dateOfBirthNormalized" placeholder="Ex: 1915-07-23" />
            <small class="form-text text-muted">Au format normalisé <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a></small>
        </div>
        <div class="form-group col-md-6">
            <label for="app-entity-edit-dateOfBirthEndNormalized" class="form-control-label">Fin de l'interval</label>
            <input id="app-entity-edit-dateOfBirthEndNormalized" class="form-control form-control-sm" data-ng-model="entity.dateOfBirthEndNormalized" placeholder="Si la date est une plage" />
            <small class="form-text text-muted">Au format normalisé <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a></small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-placeOfBirthString" class="form-control-label">Lieu de naissance</label>
            <input id="app-entity-edit-placeOfBirthString" class="form-control form-control-sm" ng-model="entity.placeOfBirthString" required="required" />
            <small class="form-text text-muted">Telle qu'écrite sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>
        <div class="form-group col-md-6">
            <label for="app-entity-edit-placeOfBirthNormalized" class="form-control-label">Commune</label>
            <select class="custom-select form-control form-control-sm" id="app-entity-edit-placeOfBirthNormalized" ng-model="entity.placeOfBirthNormalized" name="app-entity-edit-placeOfBirthNormalized" ng-options="place.id as place.name for place in places"></select>
            <small class="form-text text-muted"><a ui-sref="transcript.app.taxonomy.create({type: 'places'})" target="_blank">Ajouter une commune</a> - <a ng-click="reload.action('places')">Recharger la liste <i class="fa fa-spin fa-circle-o-notch" ng-if="reload.places === true"></i></a></small>
        </div>
    </div>
</fieldset>

<fieldset>
    <label class="big">À propos de la mort du testateur</label>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-dateOfDeathString" class="form-control-label">Date de décès <span class="red-color">*</span></label>
            <input id="app-entity-edit-dateOfDeathString" class="form-control form-control-sm" ng-model="entity.dateOfDeathString" required="required" />
            <small class="form-text text-muted">Telle qu'écrite sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>
        <div class="form-group col-md-6">
            <label for="app-entity-edit-yearOfDeath" class="form-control-label">Année de décès <span class="red-color">*</span></label>
            <input id="app-entity-edit-yearOfDeath" class="form-control form-control-sm" ng-model="entity.yearOfDeath" required="required" />
            <small class="form-text text-muted">Année de début s'il s'agit d'un interval de date</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-dateOfDeathNormalized" class="form-control-label">Date normalisée <span class="red-color">*</span></label>
            <input id="app-entity-edit-dateOfDeathNormalized" class="form-control form-control-sm" data-ng-model="entity.dateOfDeathNormalized" placeholder="Ex: 1915-07-23" required="required" />
            <small class="form-text text-muted">Au format normalisé <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a></small>
        </div>
        <div class="form-group col-md-6">
            <label for="app-entity-edit-dateOfDeathEndNormalized" class="form-control-label">Fin de l'interval</label>
            <input id="app-entity-edit-dateOfDeathEndNormalized" class="form-control form-control-sm" data-ng-model="entity.dateOfDeathEndNormalized" placeholder="Si la date est une plage" />
            <small class="form-text text-muted">Au format normalisé <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a></small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-placeOfDeathString" class="form-control-label">Lieu de décès</label>
            <input id="app-entity-edit-placeOfDeathString" class="form-control form-control-sm" ng-model="entity.placeOfDeathString" />
            <small class="form-text text-muted">Telle qu'écrite sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>
        <div class="form-group col-md-6">
            <label for="app-entity-edit-placeOfDeathNormalized" class="form-control-label">Commune</label>
            <select class="custom-select form-control form-control-sm" id="app-entity-edit-placeOfDeathNormalized" ng-model="entity.placeOfDeathNormalized" name="app-entity-edit-placeOfDeathNormalized" ng-options="place.id as place.name for place in places"></select>
            <small class="form-text text-muted"><a ui-sref="transcript.app.taxonomy.create({type: 'places'})" target="_blank">Ajouter une commune</a> - <a ng-click="reload.action('places')">Recharger la liste <i class="fa fa-spin fa-circle-o-notch" ng-if="reload.places === true"></i></a></small>
        </div>
    </div>
</fieldset>

<fieldset>
    <label class="big">À propos de la mémoire du testateur</label>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-deathMention" class="form-control-label">Mention de mort <span class="red-color">*</span></label>
            <input id="app-entity-edit-deathMention" class="form-control form-control-sm" ng-model="entity.deathMention" required="required" />
        </div>

        <div class="form-group col-md-6">
            <label for="app-entity-edit-memoireDesHommes" class="form-control-label">Liens vers Mémoire des Hommes <span class="red-color">*</span></label>
            <input id="app-entity-edit-memoireDesHommes" class="form-control form-control-sm" ng-model="entity.memoireDesHommes" placeholder="" required="required" />
            <small class="form-text text-muted">Si plusieurs liens, les séparer par des virgules ; Si pas de lien, donner la date d'aujourd'hui au format AAAA/MM/DD</small>
        </div>
    </div>
</fieldset>

<fieldset>
    <label class="big">À propos de l'incorporation du testateur</label>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="app-entity-edit-military-unit-string" class="form-control-label">Unité militaire</label>
            <input id="app-entity-edit-military-unit-string" class="form-control form-control-sm" ng-model="entity.militaryUnitString" />
            <small class="form-text text-muted">Telle qu'écrite sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>

        <div class="form-group col-md-6">
            <label for="app-entity-edit-military-unit-normalized" class="form-control-label">Régiment</label>
            <select class="custom-select form-control form-control-sm" id="app-entity-edit-military-unit-normalized" ng-model="entity.militaryUnitNormalized" name="app-entity-edit-military-unit-normalized" ng-options="militaryUnit.id as militaryUnit.name for militaryUnit in militaryUnits"></select>
            <small class="form-text text-muted"><a ui-sref="transcript.app.taxonomy.create({type: 'military-units'})" target="_blank">Ajouter une unité militaire</a> - <a ng-click="reload.action('places')">Recharger la liste <i class="fa fa-spin fa-circle-o-notch" ng-if="reload.places === true"></i></a></small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="app-entity-edit-rank" class="form-control-label">Rang</label>
            <input id="app-entity-edit-rank" class="form-control form-control-sm" ng-model="entity.rank" />
            <small class="form-text text-muted">Telle qu'écrite sur les sources - <a data-toggle="modal" data-target="#helpModal">En savoir plus sur la saisie des champs libres</a></small>
        </div>
    </div>
</fieldset>

<fieldset>
    <label class="big">Autres informations sur le testateur</label>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="app-entity-edit-description" class="form-control-label">Description - Biographie</label>
            <textarea id="app-entity-edit-description" class="form-control form-control-sm" ng-model="entity.description"></textarea>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group row">
        <label for="admin-content-edit-image" class="col-md-2 col-form-label text-md-right">Photographie du testateur</label>
        <div class="col-md-5">
            <input id="admin-content-edit-image" class="form-control form-control-sm" ng-model="entity.picture" />
            <small class="form-text text-muted">Spécifiez l'URL de votre image ou uploadez une image ci-contre</small>
            <div ng-if="entity.picture != null"><img src="{{ entity.picture | imageRender }}" class="img-150px" alt="Prévisualisation de votre image" title="Prévisualisation de votre image" /></div>
        </div>
        <div class="col-md-5">
            <input id="app-user-edit-picture" type="file" ngf-select ng-model="media.form.illustration" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" />
            <button ng-click="picFile = null" ng-show="picFile">Remove</button>
            <button ng-if="media.submit.success == false && media.submit.loading == false" class="btn btn-sm btn-primary" type="button" ng-click="media.submit.action()">Soumettre</button>
            <button ng-if="media.submit.success == false && media.submit.loading == true" class="btn btn-sm btn-primary" type="button">Enregistrement <i class="fa fa-spin fa-circle-o-notch"></i></button>
            <button ng-if="media.submit.success == true" class="btn btn-sm btn-success" type="button">Succès !</button>
        </div>
    </div>
</fieldset>