<div class="row">
    <div class="col-md-8">
        <h2>Contenu de la page de présentation</h2>
        <div ng-bind-html="trainingContent.content | trustAsHtml"></div>

        <div ng-if="trainingContent.videoContainer != null">
            <hr />
            <div class="text-center" ng-bind-html="trainingContent.videoContainer | trustAsHtml"></div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Média associé</h3>

        <div ng-if="trainingContent.illustration != null">
            <img class="img-fluid" src="{{ trainingContent.illustration | imageRender }}"/>
        </div>
    </div>
</div>