<div class="container">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>
<main class="container" role="main">
    <h1 class="page-heading">Réinitialisation du mot de passe</h1>

    <div class="row">
        <div class="col-xl-10 col-12">
            <form class="mt-2 mb-2">
                <div class="form-group row">
                    <label for="app-security-resetting-reset-password-plain" class="col-md-4 col-form-label text-md-right">Mot de passe</label>
                    <div class="col-md-8">
                        <input type="password" ng-model="form.password.plain" class="form-control form-control-sm" id="app-security-resetting-reset-password-plain" name="app-security-resetting-reset-password-plain" placeholder="Saississez votre mot de passe" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="app-security-resetting-reset-password-confirmation" class="col-md-4 col-form-label text-md-right">Confirmation</label>
                    <div class="col-md-8">
                        <input type="password" ng-model="form.password.confirmation" class="form-control form-control-sm" id="app-security-resetting-reset-password-confirmation" name="app-security-resetting-reset-password-confirmation" placeholder="Confirmez votre mot de passe" required />
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-12">
                        <button class="btn btn-sm" type="button"
                                ng-disabled="!(!!form.password.plain && !!form.password.confirmation || (form.password.plain  !== form.password.confirmation))"
                                ng-class="{'btn-success': submit.success == true, 'btn-primary': submit.success != true}"
                                ng-click="submit.action()">
                            <span ng-if="submit.success == false && submit.loading == false">Réinitialiser mon mot de passe</span>
                            <span ng-if="submit.success == false && submit.loading == true">Réinitialisation en cours <i class="fa fa-spin fa-circle-o-notch"></i></span>
                            <span ng-if="submit.success == true">Succès !</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>