<div class="container d-print-none">
    <div ncy-breadcrumb></div>
    <div flash-alert data-active-class="show alert" class="fade" data-duration="10000">
        <!-- Manually hide the alert with `hide()` -->
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message" ng-bind-html="flash.message | trustAsHtml"></span>
    </div>
</div>

<main class="container" role="main" ng-if="trainingContent.pageStatus == 'public' || (trainingContent.status != 'public' && (user.roles | contains:'ROLE_ADMIN'))">
    <div ng-include="'/webapp/app/App/Training/Content/tpl/content-header.html'"></div>

    <div class="row mt-4">
        <div class="col order-md-2">
    		<div ng-bind-html="trainingContent.exerciseHeader | trustAsHtml"></div>
 		</div>
        <div class="col-md-4 order-md-1 d-print-none">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ng-repeat="content in trainingContents | orderBy:'orderInTraining'">
                        <a ng-if="content.id != trainingContent.id" ui-sref="transcript.app.training.content({ order: content.orderInTraining })">{{ content.title }}</a>
                        <span class="active" ng-if="content.id === trainingContent.id" ui-sref="transcript.app.training.content({ order: content.orderInTraining })">{{ content.title }}</span>
                    </li>
                </ul>
            </div>
		</div> 
    </div>
   		
    		
    <div ui-view="transcript"></div>

    <div class="d-print-none" ng-include="'/webapp/app/App/Training/Content/tpl/content-footer.html'"></div>

    <hr />
    <div class="mt-4 d-print-none" ui-view="comment"></div>
</main>
<main class="container" role="main" ng-if="trainingContent.pageStatus != 'public'">
    <div class="alert alert-warning">Oups ... Cette page n'est pas publique pour le moment</div>
</main>
