<div>
    <h4 class="sr-only">Participez à la discussion</h4>
    <form id="comment-thread-contribute-form">
        <div class="form-group comment-post-form-group">
            <label for="thread-new-content" class="form-control-label sr-only">Contenu :</label>
            <div id="thread-new-content" ckeditor="options" data-ng-model="comment.form.content"></div>
        </div>
        <div id="comment-thread-contribute-form-footer">
            <button class="btn btn-sm" type="button"
                    ng-class="{'btn-success': comment.action.success == true, 'btn-primary': comment.action.success != true}"
                    ng-click="comment.action.post()">
                <span ng-if="comment.action.success == false && comment.action.loading == false">Soumettre</span>
                <span ng-if="comment.action.success == false && comment.action.loading == true">Enregistrement <i class="fa fa-spin fa-circle-o-notch"></i></span>
                <span ng-if="comment.action.success == true">Succès !</span>
            </button>
        </div>
    </form>
</div>
<div data-ng-if="user == null" class="alert alert-info">
    <a ui-sref="transcript.app.security.login">Connectez-vous pour participer à la discussion</a>
</div>
